<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/c840b9ac-ba29-4b38-9370-81a31e2cfca3/resourceGroups/tic-tac-toe-rg/providers/Microsoft.ApiManagement/service/tic-tac-toe-webapi/apis/tic-tac-toe-webapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/c840b9ac-ba29-4b38-9370-81a31e2cfca3/resourceGroups/tic-tac-toe-rg/providers/Microsoft.Web/sites/tic-tac-toe-online</ResourceId>
    <ResourceGroup>tic-tac-toe-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tic-tac-toe-online.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a0289ba6-7857-42ce-9e17-4f0b381e6498</ProjectGuid>
    <PublishUrl>https://tic-tac-toe-online.scm.azurewebsites.net/</PublishUrl>
    <UserName>$tic-tac-toe-online</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>