<section *ngIf="ticTacToeService.game">
  <div *ngFor="let row of ticTacToeService.game.board; index as rowIndex" class="square-container">
    <div *ngFor="let col of row; index as colIndex">
      <div [ngSwitch]="col" class="game-square rounded-lg border bg-teal-lightest shadow-md" (click)="ticTacToeService.makeMove(rowIndex, colIndex)">
        <p *ngSwitchCase="0" class="gameItem">&nbsp;</p>
        <p *ngSwitchCase="1" class="gameItem">X</p>
        <p *ngSwitchCase="2" class="gameItem">O</p>
      </div>
    </div>
  </div>
</section>
