<h1 id="tableLabel">Tic Tac Toe Online</h1>

<p *ngIf="!ticTacToeService.game"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<app-game-summary></app-game-summary>
<app-game-board></app-game-board>
<button (click)="openNewGameDialog()" class="hover:bg-blue-dark rounded-lg border shadow-md font-bold py-2 px-4 rounded mx-auto block mt-5 ">New Game</button>
